@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
.index-section {
  scroll-snap-align: start;
}
body,
html {
  scroll-snap-type: mandatory;
  scroll-snap-type: y mandatory;
}
.index-section {
  scroll-snap-align: end;
}
.footer{
  scroll-snap-align: start;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1f2933;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #68bbc4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
