@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1F2933;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #68bbc4;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
